<!-- Copied from dvl-core and added the "info" class to .newsletter_subscribe  -->

<footer class="footer">
  <div class="footer_inner">
    <div class="grid">
      <div class="item lap_six_columns">
        <ul class="footer_links">
          <li>
            <a href="http://blog.dobt.co">Blog</a>
          </li>

          <li class="footer_status">
            <a href="http://status.dobt.co">Status Board</a>
          </li>

          <li>
            <a href="https://dashboard.dobt.co/terms">Terms of Service</a>
          </li>

          <li>
            <a href="https://dashboard.dobt.co/privacy">Privacy Policy</a>
          </li>

          <li>
            <a href="https://dashboard.dobt.co">Customer Dashboard</a>
          </li>
        </ul>
      </div>

      <div class="item lap_six_columns">
        <ul class="footer_contact">
          <li class="footer_phone">
            <dl>
              <dt>Toll-Free</dt>

              <dd>
                <a href="tel:+18772943628">+1 (877) 294-DOBT</a>
              </dd>
            </dl>

            <dl>
              <dt>Local</dt>

              <dd>
                <a href="tel:+14049751962">+1 (404) 975-1962</a>
              </dd>
            </dl>
          </li>

          <li class="footer_email">
            <a class="dynamic_email"></a>
          </li>

          <li class="footer_fb">
            <a href="https://www.facebook.com/dobtco">Facebook</a>
          </li>

          <li class="footer_gplus">
            <a href="https://plus.google.com/+DobtCo">Google&#43;</a>
          </li>

          <li class="footer_twitter">
            <a href="https://www.twitter.com/dobtco">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
