if cur_dir.toLowerCase().search('screendoor') > -1
  - back_to = "Screendoor"
  - var back_to_link = 'https://screendoor.dobt.co/'
else
  - back_to = "Dashboard"
  - var back_to_link = 'https://dashboard.dobt.co/'

.navbar
  .container
    .navbar_header
      a.navbar_brand(href='/') DOBT Knowledge Base

    .navbar_content.navbar_content_secondary
      form(action='/search', method='get')
        input(type='text', name='q', placeholder='Search articles')
      ul
        li
          a(href!=back_to_link)!= "Back to " + back_to + "&nbsp;&rarr;"
