- back_to_data = {}
- back_to_data['dashboard'] = {text: 'Dashboard', link: 'https://dashboard.dobt.co/'}
- back_to_data['screendoor'] = {text: 'Screendoor', link: 'https://screendoor.dobt.co/'}
- back_to_data['govmapper'] = {text: 'GovMapper', link: 'https://govmapper.dobt.co/'}

- back_to = back_to_data[cur_app] || back_to_data['dashboard']

a.sr_only#skip(href='#start_of_content') Skip to content

.navbar
  .container
    .navbar_header
      a.navbar_brand(href='/') DOBT Knowledge Base
    .navbar_content.navbar_content_secondary.lap_show
      form.navbar_search_form(action='/search', method='get')
        input(type='text', name='q', placeholder='Search articles')
      ul
        li
          a(href!=back_to['link'])!= "Back to " + back_to['text'] + "&nbsp;&rarr;"
