- function section_sort_helper(a, b) {
-   return locals.section_sort_order[cur_app].indexOf(a) > locals.section_sort_order[cur_app].indexOf(b)
- }

- function article_sort_helper(a, b) {
-   if (a.metadata && a.metadata.order && b.metadata && b.metadata.order) {
-     return parseInt(a.metadata.order) > parseInt(b.metadata.order)
-   }
-   else {
-     return 0
-   }
- }

mixin toc_article(article)
  if article.filename == locals.page.filename
    - current_article = 'current_article'
  else
    - current_article = ''
  if article.metadata && !article.metadata.draft
    li: a(href='/'+article.filename, class!=current_article)= article.title

mixin toc()
  each section_name in _.keys(contents.articles[cur_app]).sort(section_sort_helper)
    if _.contains(['images', 'index.md'], section_name)
      - continue
    - section = contents.articles[cur_app][section_name]
    .toc_section(class!=attributes.class)
      if section.filename == route.slice(0,-1).join('/') || route[route.length-1] == "index.html"
        - button_class = "fa-chevron-down"
        - display = "block"
        - activeClass = "active"
      else
        - button_class = "fa-chevron-right"
        - display = "none"
        - activeClass = ""
      - identifier = section.filename.replace(/\//g, '-')
      a(name=identifier).toggle_toc
        h4(class=activeClass)= env.helpers.format(section_name) + " "
          if !index
            span.fa(class!=button_class)
      ul(id!=identifier, style='display:'+display)
        each article in _.values(section).sort(article_sort_helper)
          +toc_article(article)
