mixin toc_article(article)
  - var current_article = ""
  if article.filename == locals.page.filename
    - current_article = "current_article"
  li: a(href='/'+article.filename, class!=current_article)= article.title

mixin toc(dirs, index)
  each dir in dirs
    //- p(style='background:#ccc')= dir.filename
    //- if index
    //-   - var section_class = "item lap_four_columns"
    //- else
    //-   - var section_class = ""
    .toc_section(class!=section_class)
      if index
        a(href=dir.filename)
          h3= env.helpers.caps(dir.filename.split('/')[1])
      ul.toc(class!=attributes.class)
        each k in _.without(_.keys(dir), '.DS_Store', 'images')
          if k != "index.md"
            if k.indexOf('.md') > -1
              +toc_article(dir[k])
              //- li: a(href='/'+dir[k].filename)= dir[k].title
            else
              if dir[k].filename == route.slice(0,-1).join('/') || route[route.length-1] == "index.html"
                - var button_class = "fa-toggle-down"
                - var display = "block"
              else
                - var button_class = "fa-toggle-up"
                - var display = "none"
              - var identifier = dir[k].filename.replace(/\//g, '-')
              h4= env.helpers.caps(env.helpers.format(k))+" "
                a(name=identifier).toggle_toc
                  span.fa(class!=button_class)
              ul(id!=identifier, style='display:'+display)
                each article in _.values(dir[k])
                  +toc_article(article)
