- var section_name
- function section_sort_helper(a, b) {
-   return locals.section_sort_order[section_name].indexOf(a) > locals.section_sort_order[section_name].indexOf(b)
- }

- function article_sort_helper(a, b) {
-   if (a.metadata && a.metadata.order && b.metadata && b.metadata.order) {
-     return parseInt(a.metadata.order) > parseInt(b.metadata.order)
-   }
-   else {
-     return 0
-   }
- }

mixin toc_article(article)
  - var current_article = ""
  if article.filename == locals.page.filename
    - current_article = "current_article"
  if article.metadata && !article.metadata.draft
    li: a(href='/'+article.filename, class!=current_article)= article.title

mixin toc(dirs, index)
  each dir in dirs
    - section_name = dir.filename.split('/')[1]
    .toc_section(class!=attributes.class)
      if index
        h3: a(href=dir.filename)= dir.filename.split('/')[1]
      - var sections = _.without(_.keys(dir), '.DS_Store', 'images').sort(section_sort_helper)
      each section in sections
        if section != "index.md"
          if section.indexOf('.md') > -1
            +toc_article(dir[section])
          else
            if dir[section].filename == route.slice(0,-1).join('/') || route[route.length-1] == "index.html"
              - var button_class = "fa-chevron-down"
              - var display = "block"
              - var activeClass = "active"
            else
              - var button_class = "fa-chevron-up"
              - var display = "none"
              - var activeClass = ""
            - var identifier = dir[section].filename.replace(/\//g, '-')
            a(name=identifier).toggle_toc
              h4(class=activeClass)= env.helpers.format(section) + " "
                if !index
                  span.fa(class!=button_class)
            ul(id!=identifier, style='display:'+display)
              - var articles = _.values(dir[section]).sort(article_sort_helper)
              each article in articles
                +toc_article(article)
