/* ================================================================== *\
   Buttons ($buttons)
\* ================================================================== */

dark_button_color(base_color, font_color = #fff)
  background base_color
  color font_color
  border 1px solid darken(base_color, 10%)

  &:hover
    background darken(base_color, 10%)
    color font_color

light_button_color(base_color, font_color = #333)
  background base_color
  font-weight 600
  border 1px solid darken(base_color, 10%)
  color font_color

  &:hover
    background darken(base_color, 5%)
    color font_color

/* Default (chunky) */
.button
  display: inline-block;
  margin: 0;
  padding: 0.563rem 0.844rem;
  border: 0 none;
  background: $lightGray;
  color: $darkestGray;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
  white-space: nowrap;

  &.uppercase
    border 0 !important
    border-radius 0
    text-transform uppercase
    font-size 0.85rem

  &.loading
    opacity: 0.65;
    cursor: default !important;

  &.arrow_l
    &:before
      content: "\f0d9"
      font-family: 'FontAwesome';
      margin-right 0.5rem

  &.arrow
    &:after
      content: "\f0da"
      font-family: 'FontAwesome';
      margin-left 1rem

    &.loading
      &:after
        display none

      i
        margin-left 0.5rem

  &.long_arrow
    &:after
      content: "\f178"
      font-family: 'FontAwesome';
      margin-left 1rem

  &.primary
    dark_button_color(#e75845)

  &.success
    dark_button_color($successColor)

  &.error
    dark_button_color($errorColor)

  &.info
    dark_button_color(#1fa3ec)

  &.white
    light_button_color(#fff)

  &.darker_gray
    light_button_color(#ccc)

  &.light_gray
    light_button_color(#eeeff0, $blueGray)

  &.gray
    light_button_color($lighterGray)

  &.teal
    dark_button_color(#3BCCAF)

  &:hover
    background: $gray;
    text-decoration none

  &:active
    box-shadow: inset 0 2px 3px hsla(0, 0%, 0%, 0.2);

  &:focus
    outline: thin dotted $darkestGray;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;

  /* Sizes */
  &.mini
    padding: 0.238rem 0.563rem;
    font-size: 0.8125rem;

  &.small {
    padding: 0.317rem 0.75rem;
    font-size: 0.875rem;
  }

  &.large,
  &.block {
    padding: 1rem 1.333rem;
    font-size: 1.125rem;
    line-height: 1.333;
  }

  &.block {
    display: block;
  }

  /* States */
  &[disabled],
  &.disabled,
  &.disabled:active {
    -webkit-box-shadow: none !important;
    -moz-box-shadow:    none !important;
    box-shadow:         none !important;
    text-shadow: none !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    opacity: 0.65;
    cursor: default !important;
  }

.dropdown_toggle_button
  position relative
  padding-right 2rem
  background-color #fff
  border 1px solid $gray
  font-weight 600
  padding: 0.317rem 2rem 0.317rem 1rem;
  font-size: 0.875rem;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2rem;
  color $darkestGray

  &.disabled
    opacity 0.7
    cursor default

  &:hover
    text-decoration none
    background-color $lightestGray

  &:after
    font-family 'FontAwesome'
    content '\f0d7'
    position absolute
    top 4px
    right 10px
    color $darkerGray
    pointer-events none

  &.gray
    background-color $lighterGray
    color $darkestGray

    &:hover
      background-color $lightGray

      &.disabled
        background-color $lighterGray

.open .dropdown_toggle_button
  box-shadow: inset 0 2px 3px hsla(0, 0%, 0%, 0.2);
  background-color $lightestGray

  &.gray
    background-color $lightGray
