//
// Dropdown menus
// --------------------------------------------------

// The dropdown wrapper (div)
.dropdown {
  position: relative;
}

span.dropdown
  display inline-block

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
.dropdown_menu
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-clip: padding-box;

  // Aligns the dropdown menu to right
  &.dropdown_right {
    right: 0;
    left: auto;
  }

  // Links within the dropdown menu
  > li > a, > li > span
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    white-space: nowrap; // prevent links from randomly breaking onto new lines

  > li > a
    color: #333;


.dropdown_header
  padding 5px 20px 1px
  color $darkGray
  font-size 0.85rem
  text-transform uppercase
  font-weight 600

// Hover/Focus state
.dropdown_menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    background-color: #428bca;
  }
}

// Active state
.dropdown_menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown_menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color: #ccc;
  }
}
// Nuke hover/focus effects
.dropdown_menu > .disabled > a {
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
    cursor: not-allowed;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown_menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown_backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000 - 10;
}
