@import 'based/variables'

/* ================================================================== *\
   Layout ($layout)
\* ================================================================== */

html, body
  height 100%

body
  background-color #fff

.ninety_wrapper
  ninety_wrapper()

.page_card
  margin 0 auto
  width 90%
  max-width 1150px
  padding-top $headerHeight + 15px
  padding-bottom 25px

#site_wrapper
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (0 - $footerHeight)

#push
  height $footerHeight

.island
  margin: 0 0 1rem
  padding: 1rem
  background: $lighterGray

.invisible_island
  padding 1rem 1rem 0 1rem

.page_header
  padding-bottom 0.6rem
  border-bottom 1px solid $lightGray
  margin-bottom 1.25rem
  position relative

  h2, h3
    margin-bottom 0

  h2
    float left

    a
      color $black
      text-decoration none

  h3
    font-weight 500
    color $darkGray
    font-size 1.3rem
    margin-top 0.3rem

  ul.secondary_nav
    float left
    margin 0.5rem 0 0
    padding-left 2rem

    &.muted
      float right

.project_page_header
  position relative

  a.label
    position relative
    top -3px
