/* ================================================================== *\
   Links ($links)
\* ================================================================== */

/* 1. Remove the gray background color from active links in IE 10 */
a
  background transparent
  color $linkColor
  cursor pointer
  text-decoration none

  &.muted
    color $darkerGray
    text-decoration underline

    &:hover
      text-decoration none

  &.smallbold
    font-weight 600
    font-size 0.9rem

  &:hover
    text-decoration underline

  /* Improve readability when focused or hovered in all browsers */
  &:active, &:hover
    outline: 0;

  /* Address `outline` inconsistency between Chrome and other browsers */
  &:focus
    outline: thin dotted;

  &.uppercase
    text-transform uppercase
    color $darkGray
    font-size 0.85rem
    font-weight 600

    &:hover
      text-decoration none
      color $darkerGray

  &.subtle_icon
    color $darkGray
    text-decoration none

    &:hover
      color $darkerGray
