.sidebar_box
  background-color $lighterGray
  border 3px solid $lightestGray
  padding 1rem

  hr
    margin 0.75rem 0

.sidebar_section
  margin-bottom 1rem
  font-size 0.9rem

  h4
    font-size 1rem
    color $darkestGray
    margin-bottom 0.2rem

ul.sidebar_data
  padding 0 1rem
  margin -0.5rem 0

  > li
    border-bottom 1px solid $lightGray
    padding 0.75rem 0

    &:last-of-type
      border-bottom 0

    .left_side
      float left
      width 25px
      padding-top 0.5rem
      text-align center

      i
        font-size 26px
        color $darkerGray

    .right_side
      margin-left 45px

.sidebar_data_label
  font-size 0.9rem

.sidebar_data_value
  font-size 1.1rem
  color #999
  font-weight 600

.sidebar_data_additional_text
  font-size 0.9rem
  color #999
