/* ================================================================== *\
   Tables ($tables)
\* ================================================================== */

/**
 * Default (borderless)
 * 1. Remove most spacing between <table> cells
 */

table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;         /* 1 */
  border-collapse: collapse; /* 1 */
  empty-cells: show;
  font-size 0.9rem
  word-break: break-word;
}

table th,
table tfoot td {
  color: $black;
  text-align: left;
  font-weight: bold;
}

table thead th,
table tfoot td  {
  background-color: $lighterGray;
}

table thead th
  color $darkestGray
  font-size 0.9rem
  font-weight 600
  word-break normal

table th,
table td {
  overflow: visible;
  padding: 1rem;
  vertical-align: top;
}

table.condensed
  th, td
    padding 0.5rem

table.vertical_middle
  th, td
    vertical-align middle

table th.sortable a
  color $darkestGray

  i
    color $darkerGray
    margin-left 0.25rem
    font-size 1rem

  &:hover
    text-decoration none

/* Outer border only */
table.border {
  border: 1px solid $lightGray;
}

/* Borders for rows & columns */
table.border_all th,
table.border_all td {
  border-top: 1px solid $lightGray;
  border-left: 1px solid $lightGray;
}

/* Border for rows only */
table.border_rows th,
table.border_rows td {
  border-top: 1px solid $lightGray;
}

/* Border for columns only */
table.border_cols th,
table.border_cols td {
  border-left: 1px solid $lightGray;
}

table.border_cols tr th:first-child,
table.border_cols tr td:first-child {
  border-left: 0;
}

/* Remove top border to avoid double border on .border tables */
table.border.border_all thead:first-child tr:first-child th,
table.border.border_all thead:first-child tr:first-child td,
table.border.border_rows thead:first-child tr:first-child th,
table.border.border_rows thead:first-child tr:first-child td {
  border-top: 0;
}

table.border_all tr th:first-child,
table.border_all tr td:first-child {
  border-left: 0;
}

table.border_all tr:first-child th,
table.border_all thead:first-child tr:first-child th {
  border-top: 0;
}

/* Add bottom border to last row in the table */
table.border_rows tr:last-child td {
  border-bottom: 1px solid $lightGray;
}

/* Stripes */
table.stripes tbody > tr:nth-child(even) {
  background-color: $lightestGray;
}

