// Variables
$color-blue = #21BEDB
$color-blue-gray = #F3F6F8

// Base

.container
  border-top 1px solid $color-blue-gray

input[type="search"]
  padding-left 10px

.fa
  vertical-align baseline

// Navigation

.navbar
  padding 10px 50px
  line-height 75px

.navbar a
  color black
  text-decoration none

.navbar-left img
  height 75px

.navbar-left .brand
  padding-left 10px

.navbar-right
  text-align right

.navbar-form, .navbar-form input
  display inline
  width 200px

.navbar-form input
  margin-right 30px
  height 25px

.gray
  color #6F7277

// Home page

.main
  background $color-blue-gray
  padding 20px 10px

.listings
  margin-top 20px
  text-align center

.listings a
  color $color-blue

.toc_section
  text-align left

.toc_section h3
  font-size 120%
  font-weight normal
  text-transform uppercase
  margin-bottom 20px

.toc_section a
  text-decoration none!important

.toc_section h3 a
  color black
  text-decoration none

.toc_section h4
  font-size 90%
  text-transform uppercase

.landing
  text-align center

.landing h1
  font-weight normal
  margin-bottom 20px

// Search

.centersearch
  width 400px
  height 40px
  margin 0px auto

.search-results
  margin 0px auto
  margin-top 20px
  padding 10px

.highlight
  background #FFFF00

.result-body
  padding-left 10px

// TOC

.toc_section ul
  list-style-type none
  padding-left 0px

.toc_section li
  margin-top 5px

.toggle_toc
  color black

.left_nav
  background $color-blue-gray
  padding 2rem 2rem 2rem 4rem

  #choose-app
    height 35px
    font-weight bold
    margin-left 10px
    margin-top 10px

  a
    color black
    display block
    width 100%
    text-decoration none

  p
    padding-bottom 15px
    word-wrap break-word

  ul
    padding-left 15px
    margin-bottom 10px

  h4
    padding 10px 7px
    font-weight normal
    text-transform uppercase
    font-size 100%
    margin-bottom 0px
  h4:hover
    background #3BCCAF
    color #fff

  .fa-chevron-down, .fa-chevron-up
    font-size 80%
    float right

  .current_article
    color $color-blue
    font-weight bold

  .still_need_help_container
    background #EAEEF1
    padding 10px
    margin-top 15px

  .still_need_help
    margin-top 10px
    text-indent 10px

    a
      background #3BCCAF
      padding 10px 7px
      text-transform uppercase
      text-align center
      color #fff


// Article

.article
  background #fff
  padding-bottom 20px

.article_toc
  margin-top 25px

  h3
    text-transform uppercase
    font-weight normal
    font-size 120%

  ol
    padding-left 0px
    list-style-position inside
    color $color-blue

    a
      color $color-blue
      text-decoration none

.breadcrumbs
  color $color-blue
  margin-top 10px
  margin-bottom 10px

// Footer

footer
  background #2e2e2e
  padding 67px 20px 54px
  text-align center

  .item
    color white
    text-align left

  h2
    color white
    font-weight normal
    text-transform uppercase
    font-size 18px
    margin-bottom 26px

  ul
    list-style-type none
    padding 0px

    li
      margin-bottom 15px

      a
        color white
        font-size 16px
        display inline-block
        text-decoration none!important

        i
          display inline-block
          width 30px
          font-size 16px
          text-align center

        &:hover
          color $color-blue

          &.fb
            color #2d5194

          &.gp
            color #db4738

          &.tw
            color #5caeeb

      .status.up i
        color green

      .status.partial i
        color yellow

      .status.major i
        color red

      .service-status
        padding 0
