.container
  border-top 1px solid #F3F6F8

input[type="search"]
  padding-left 10px

// Navigation

.navbar
  padding 10px 50px
  line-height 75px

.navbar a
  color black
  text-decoration none

.navbar-left img
  height 75px

.navbar-left .brand
  padding-left 10px

.navbar-right
  text-align right

.navbar-form, .navbar-form input
  display inline
  width 200px

.navbar-form input
  margin-right 30px
  height 25px

.gray
  color #6F7277

.fa-chevron-down, .fa-chevron-up
  font-size 80%
  color #B4B5B7
  float right

// Home page

.main
  background #F3F6F8
  padding 20px 10px

.listings
  margin-top 20px
  text-align center

.listings a
  color #21BEDB

.toc_section
  text-align left

.toc_section h3
  font-size 120%
  font-weight normal
  text-transform uppercase
  margin-bottom 20px

.toc_section a
  text-decoration none!important

.toc_section h3 a
  color black
  text-decoration none

.toc_section h4
  font-size 90%
  text-transform uppercase

.landing
  text-align center

.landing h1
  font-weight normal
  margin-bottom 20px

// Search

.centersearch
  width 400px
  height 40px
  margin 0px auto

.search-results
  margin 0px auto
  margin-top 20px
  padding 10px

.highlight
  background #FFFF00

.result-body
  padding-left 10px

// TOC

.toc_section ul
  list-style-type none
  padding-left 0px

.toc_section li
  margin-top 3px

.toggle_toc
  color black

.still_need_help_container
  margin-top 10px

.left_nav
  background #F3F6F8
  padding 2rem 2rem 2rem 4rem

  & p
    padding-bottom 15px
    word-wrap break-word

  & ul
    padding-left 15px

  & h4
    padding-top 10px
    font-weight normal
    text-transform uppercase
    font-size 100%

  & .current_article
    font-weight bold

  & .still_need_help
    text-indent 10px

// Article

.article
  background #fff

.breadcrumbs
  margin-top 10px
  margin-bottom 10px
