.navbar {
  padding:10px 50px;
  line-height:75px;
  margin:0px auto;
}
.navbar a {
  text-decoration:none;
  color:#000;
}
.navbar-internal {
  vertical-align: middle;
}
.navbar-left img {
  height:75px;
}
.navbar-left span {
  padding-left:10px;
}
.navbar-right {
  text-align:right;
}
.navbar-form, .navbar-form input {
  display:inline;
  width:200px;
}
.navbar-form input {
  margin-right:30px;
}

.home {
  background:#F3F6F8;
  padding:20px 10px;
}

.listings {
  /*text-align:center;*/
  /*margin:0px auto;*/
}
.index_toc {

}
.listings a:hover {
  text-decoration:none;
}
.listings a h3 {
  /*text-decoration:underline;*/
  /*font-weight:normal;*/
  font-size:120%;
  text-transform:uppercase;
}

.toggle_toc {
  color:black;
}

.container {
  border-top:1px solid #F3F6F8;
  /*background:#F3F6F8;*/
  /*padding:20px 10px;*/
}

.landing {
  text-align:center;
}
.landing h1 {
  font-weight:normal;
}
.centersearch {
  width:400px;
  height:40px;
  margin:0px auto;
}

.sidenav {
  background:#F3F6F8;
  padding:2rem 2rem 2rem 4rem;
}
.sidenav p {
  padding-bottom:15px;
}

.toc, .toc ul {
  list-style-type:none;
  padding-left:20px;
}
.toc li, .toc ul li {
  margin-top:5px;
}
.left_toc {
  padding-left:5px;
}
.left_toc h4 {
  padding-top:10px;
  font-weight:normal;
  text-transform:uppercase;
  font-size:100%;
}
.current_article {
  font-weight:bold;
}

.article {
  background:#fff;
}
.breadcrumbs {
  margin-top:10px;
  margin-bottom:10px;
}