.navbar-default {
  margin-bottom:0px;
}

.landing {
  text-align:center;
}
.centersearch {
  width:300px;
  margin:0px auto;
}

.sidenav {
  background:#ddd;
  padding-top:20px;
  padding-bottom:20px;
}
.sidenav p {
  padding-bottom:15px;
}

.article {
  background:#fff;
}
.breadcrumbs {
  margin-top:10px;
}