extends layout
block content
  .container
    .left_nav
      .container
        a.left_nav_toggle(data-toggle-class='open', data-target='.left_nav')
          i.fa.fa-reorder
          | Expand navigation

        .left_nav_inner
          div.navigation
            label(for='choose-app') Application
            select#choose-app
              each app, app_name in contents.articles
                - title = app['index.md'].metadata.title || env.helpers.caps(app_name)
                - path = "articles/" + app_name
                option(value=path, selected=(cur_dir == path))= title

          include partials/toc.jade
          +toc

          .still_need_help_container
            h3 Still need help?
            .still_need_help
              a.button.teal(href='mailto:support@dobt.co') Contact us
                i.fa.fa-envelope
    .article
      .breadcrumbs
        each r in route.slice(1, -1)
          li
            if _.isUndefined(contents.articles[r]) || _.isUndefined(contents.articles[r]['index.md'].metadata.title)
              = env.helpers.caps(env.helpers.format(r))
            else
              = (contents.articles[r]['index.md'].metadata.title)

      h2= page.metadata.title || "Untitled"
      if page.metadata.onThisPage.length > 0 || page.metadata.FAQs.length > 0
        hr
      .article_toc.grid
        if page.metadata.onThisPage.length > 0
          .item.lap_six_columns
            h3 Contents
            ol
              each h in page.metadata.onThisPage
                li: a(href!=h[1])= h[0]
        if page.metadata.FAQs.length > 0
          .item.lap_six_columns
            h3 F.A.Q.
            ol
              each h in page.metadata.FAQs
                li: a(href!=h[1])= h[0]
        .item.lap_twelve_columns
          hr
      .article_body
        != page.html
