extends layout
block content
  .row
    .sidenav.col-md-3
      p(style='word-wrap:break-word;')
        | Choose an app: 
        select#choose-app
          each dir in directories
            option(value=dir.filename)= caps(dir.filename.split('/')[1])
      - var cur_dir = route.splice(0,2).join('/')
      +toc(_.filter(directories, function(d) {if (cur_dir == d.filename) {return true}}))
      p
        b Still need help? 
        a(href='#') Contact us
    .article.col-md-9
      .breadcrumbs
        - var rs = locals.page.filename.split('/').slice(1)
        each r, i in rs
          a(href="/articles/"+rs.slice(0,i+1).join('/'))!= caps(format(r))
          |  &rarr; 
      != page.html
  
  script.
    document.getElementById('choose-app').onchange = function() {
      window.location.href = '/' + this.value
    }