extends layout
block content
  .article-wrapper.cf
    .left_nav
      .container
        a.left_nav_toggle(data-toggle-class='open', data-target='.left_nav')
          i.fa.fa-reorder
          | Expand navigation

        .left_nav_inner
          p
            div.choose-app-text Choose an app:
            select#choose-app
              each app, app_name in contents.articles
                - title = app['index.md'].metadata.title || env.helpers.caps(app_name)
                - path = "articles/" + app_name
                option(value=path, selected=(cur_dir == path))= title

          include partials/toc.jade
          +toc

          .still_need_help_container
            b Still need help?
            .still_need_help
              a.button.teal(href='mailto:support@dobt.co') Contact us
                i.fa.fa-envelope
    .article
      .breadcrumbs.capitalize
        each r in route.slice(1, -1)
          if _.isUndefined(contents.articles[r]) || _.isUndefined(contents.articles[r]['index.md'].metadata.title)
            = env.helpers.caps(env.helpers.format(r))
          else
            = (contents.articles[r]['index.md'].metadata.title)
          | &nbsp;&rarr;&nbsp;

      h1= page.metadata.title || "Untitled"
      if page.metadata.onThisPage
        .article_toc.grid
          .item.lap_six_columns
            h3 On This Page
            ol
              each h in page.metadata.onThisPage
                li: a(href!=h[1])= h[0]
          if page.metadata.FAQs.length > 0
            .item.lap_six_columns
              h3 FAQs
              ol
                each h in page.metadata.FAQs
                  li: a(href!=h[1])= h[0]
        hr
      .article_body
        != page.html
