extends layout
block content
  .grid
    .left_nav.item.lap_three_columns
      p
        | Choose an app:
        select#choose-app
          - var sel = false
          each dir in directories
            - sel = false
            if cur_dir == dir.filename
              - sel = true
            option(value=dir.filename, selected=sel)= caps(dir.filename.split('/')[1])
      +toc(_.filter(directories, function(d) {if (cur_dir == d.filename) {return true}}), false)
      div
        b Still need help?
        .still_need_help
          a(href='#') Contact us
    .article.item.lap_nine_columns
      .breadcrumbs
        - var rs = locals.page.filename.split('/').slice(1)
        each r, i in rs
          if r != 'index.html'
            a(href="/articles/"+rs.slice(0,i+1).join('/'))!= caps(format(r))
            |  &rarr;
            // ^^ intentional trailing whitespace ^^
      .grid
        .item.lap_six_columns
          h3 On This Page
          ol
            each h in page.metadata.onThisPage
              li: a(href!=h[1])= h[0]
        if page.metadata.FAQs.length > 0
          .item.lap_six_columns
            h3 FAQs
            ol
              each h in page.metadata.FAQs
                li: a(href!=h[1])= h[0]
      hr
      != page.html
