extends layout
block content
  .grid
    .left_nav.item.lap_three_columns
      p
        div.choose-app-text Choose an app:
        select#choose-app
          each dir in contents.articles._.directories
            option(value=dir.filename, selected=(cur_dir == dir.filename))= dir.filename.split('/')[1]
      include partials/toc.jade
      +toc(_.filter(contents.articles._.directories, function(d) {if (cur_dir == d.filename) {return true}}), false)
      .still_need_help_container
        b Still need help?
        .still_need_help
          a.button.teal(href='mailto:support@dobt.co') Contact us
            i.fa.fa-envelope
    .article.item.lap_nine_columns
      .breadcrumbs.capitalize
        - var rs = locals.page.filename.split('/').slice(1)
        each r, i in rs
          if i < (rs.length-1)
            if r != 'index.html'
              = env.helpers.format(r) + ' '
              | &rarr;&nbsp;
        - var last = rs[rs.length-1]
      if last != 'index.html'
        h1.capitalize= env.helpers.format(rs[rs.length-1])
      else
        h1.capitalize= env.helpers.format(rs[rs.length-2])
      .article_toc.grid
        .item.lap_six_columns
          h3 On This Page
          ol
            each h in page.metadata.onThisPage
              li: a(href!=h[1])= h[0]
        if page.metadata.FAQs.length > 0
          .item.lap_six_columns
            h3 FAQs
            ol
              each h in page.metadata.FAQs
                li: a(href!=h[1])= h[0]
      hr
      != page.html
