//- - var directories = contents.articles._.directories
//- - var route = locals.page.filename.split('/')
//- - var cur_dir = route.slice(0,2).join('/')
//- - function format(string) {return string.replace(/_/g, ' ').replace('.html', '')}
