extends layout
block content
  .main
    .landing
      h2 Don't worry, we've got you covered.
      include partials/search.jade
      +search
      span.or-browse
        | Or&nbsp;
        a(href='/articles/screendoor') browse articles &rarr;
    .listings
      .grid
        .item.lap_four_columns
          h3: a(href='/articles/screendoor') Screendoor
          ul
            li: a(href='/articles/screendoor/projects/creating_a_project.html') Creating a project
            li: a(href='/articles/screendoor/projects/writing_your_project_page.html') Writing your project page
            li: a(href='/articles/screendoor/your_form/building_your_form.html') Building your form
            li: a(href='/articles/screendoor/evaluation/setting_up_ratings.html') Setting up ratings
            li: a(href='/articles/screendoor/collaboration/collaborators.html') Collaborating with colleagues
        .item.lap_four_columns
          h3: a(href='/articles/screendoor') Your Account
          ul
            li: a(href='/articles/screendoor/your_account/sign_in.html') Signing in
            li: a(href='/articles/screendoor/your_account/managing_users.html') Adding users
            li: a(href='/articles/screendoor/your_account/billing.html') Changing your plan
            li: a(href='/articles/your_account/dashboard/supported_browsers.html') Supported browsers
        .item.lap_four_columns
          h3: a(href='/articles/adopta') Adopta
          ul
            li: a(href='/articles/adopta/site_admin/configuring_your_site.html') Configuring your site
            li: a(href='/articles/adopta/site_admin/adding_adoptable_things.html') Adding adoptable things
            li: a(href='/articles/adopta/site_admin/viewing_and_messaging_adopters.html') Viewing and messaging adopters

      //- For the link-checker...
      a(href='/articles/govmapper', style='display:none;') Govmapper
