extends layout
block content
  .main
    .landing
      h1 Dont worry, we've got you covered.
      include partials/search.jade
      +search
    .listings
      include partials/toc.jade
      +toc(contents.articles._.directories, true)
