extends layout
block content
  .main
    .landing
      h2 Don't worry, we've got you covered.
      include partials/search.jade
      +search
      span.or-browse
        | Or&nbsp;
        a(href='/articles/screendoor') browse articles &rarr;
    .listings
      .grid
        .item.lap_four_columns
          h3: a(href='/articles/screendoor') Screendoor
          ul
            li: a(href='/articles/screendoor/projects/creating_a_project.html') Creating a project
        .item.lap_four_columns
          h3: a(href='#') Your Account
        .item.lap_four_columns
          h3: a(href='#') Adopta
