extends layout
block content
  .main
    .landing
      h1 Don't worry, we've got you covered.
      include partials/search.jade
      +search("Search knowledge base articles...")
      span.or-browse
        | Or&nbsp;
        a(href='/articles/screendoor') browse articles &rarr;
    .listings.grid.gutter_none
      .item.lap_four_columns
        h3: a(href='/articles/dashboard') Dashboard
        ul
          li: a(href='/articles/dashboard/2_applications/1_managing_applications.html') Managing Applications
          li: a(href='/articles/dashboard/1_accounts/2_managing_users.html') Managing Users
          li: a(href='/articles/dashboard/1_accounts/1_signup_and_login.html') Signup and Login
      .item.lap_four_columns
        h3: a(href='/articles/screendoor') Screendoor Projects
        ul
          li: a(href='/articles/screendoor/1_projects/1_creating_a_project.html') Creating a project
          li: a(href='/articles/screendoor/1_projects/2_my_projects.html') My projects
          li: a(href='/articles/screendoor/1_projects/3_using_statuses.html') Using statuses
          li: a(href='/articles/screendoor/1_projects/4_collaborators.html') Collaborators
      .item.lap_four_columns
        h3: a(href='/articles/screendoor') Screendoor Responses
        ul
          li: a(href='/articles/screendoor/2_responses/1_building_your_form.html') Building your form
          li: a(href='/articles/screendoor/2_responses/2_sorting_and_filtering_responses.html') Sorting and filtering responses
          li: a(href='/articles/screendoor/2_responses/4_embedding_the_response_form.html') Embedding the response form
          li: a(href='/articles/screendoor/2_responses/6_receiving_responses_via_email.html') Receiving responses via email
