- var route = locals.page.filename.split('/')
- var cur_dir = route.slice(0,2).join('/')

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')


    - var content = ""
    if cur_dir.search("articles") > -1
      //- Strip html, get first ~three sentences
      - content = page.html.replace(/<(?:.|\n)*?>/gm, '').match(/([^\.]+\.){0,3}/)[0]
    else if cur_dir == "index.html"
    //-  Insert hard-coded meta/description for home page here
      - content = ""
    meta(name='description', content=content)

    - var title = ""
    if page.metadata.title
      - title = page.metadata.title + " | "
    title= title + locals.title

    link(rel='shortcut icon', href='/images/dobt_logo.png')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/knowledge_base.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

    if page.metadata.include_formrenderer
      script(src='//d3q1ytufopwvkq.cloudfront.net/0.3.5/formrenderer.js')
      link(href='//d3q1ytufopwvkq.cloudfront.net/0.3.5/formrenderer.css', rel='stylesheet')

    | <!--[if lt IE 9]>
    |  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    | <![endif]-->
    | <script src="/js/modernizr.js"></script>

  body
    block nav
      header#header
        .navbar
          .navbar-left
            a(href='/')
              img(src='/images/dobt_logo.png')
              span.brand.desk_show_i DOBT
                span.gray  | Knowledge Base
          .navbar-right
            form(action='/search', method='get').navbar-form
              input(type='search', name='q', placeholder='Search articles')
            if cur_dir.toLowerCase().search('screendoor') > -1
              - back_to = "Screendoor"
              - var back_to_link = 'https://screendoor.dobt.co/'
            else
              - back_to = "Dashboard"
              - var back_to_link = 'https://dashboard.dobt.co/'
            a.lap_show_i(href!=back_to_link)!= "Back to " + back_to + "&nbsp;&rarr;"
      div.container
        block content
    footer
      .grid
        .item.lap_four_columns.service-status
          h2 Links
          ul
            li: a(href='http://status.dobt.co')
              span.status.loading Service Status
              span.status.up(style='display:none;')
                i.fa.fa-check
                | Everything is up!
              span.status.partial(style='display:none;')
                i.fa.fa-times
                | Partial service outage
              span.status.major(style='display:none;')
                i.fa.fa-times
                | Major service outage
            li: a(href='http://blog.dobt.co') Blog
            li: a(href='https://dashboard.dobt.co/privacy') Privacy
            li: a(href='https://dashboard.dobt.co') Customer Dashboard
        .item.lap_four_columns.social
          h2 Social
          ul
            li: a.fb(href='https://www.facebook.com/dobtco')
              i.fa.fa-facebook
              | Facebook
            li: a.tw(href='https://twitter.com/dobtco')
              i.fa.fa-twitter
              | Twitter
            li: a.gp(href='https://plus.google.com/+DobtCo/')
              i.fa.fa-google-plus
              | Google+
        .item.lap_four_columns.contact
          h2 Contact
          ul
            li: a.tf(href='tel:+18772943628')
              i.fa.fa-phone
              | +1 (877) 294 - DOBT (Toll Free)
            li: a.local(href='tel:+14049751962')
              i.fa.fa-phone
              | +1 (404) 975 - 1962 (Local)
            li: a.email(id='dynamic-email')
              i.fa.fa-envelope

    script(src='/js/purl.js')
    script(src='/js/jquery.placeholder.js')
    script(src='/js/main.js')

    | <!--[if lt IE 9]>
    |   <script src='/js/polyfills.js'></script>
    | <![endif]-->

    | <script>
    | var $buoop = {};
    | $buoop.ol = window.onload;
    | window.onload=function(){
    |  try {if ($buoop.ol) $buoop.ol();}catch (e) {}
    |  var e = document.createElement("script");
    |  e.setAttribute("type", "text/javascript");
    |  e.setAttribute("src", "//browser-update.org/update.js");
    |  document.body.appendChild(e);
    | }
    | </script>

    | <script>
    |   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |   })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

    |   ga('create', 'UA-39205841-21', 'dobt.co');
    |   ga('require', 'displayfeatures');
    |   ga('send', 'pageview');
    | </script>
