doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= locals.title
    link(rel='stylesheet', href='/styles/based.css')
    link(rel='stylesheet', href='/styles/knowledge_base.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/js.js')
  body
    block nav
      .navbar
        .navbar-internal.grid
          .navbar-left.item.lap_six_columns
            a(href='/')
              img(src='/images/dobt_logo.png')
              span DOBT | Knowledge Base
          .navbar-right.item.lap_six_columns
            form.navbar-form
              input(type='text', placeholder='Search articles')
            a(href='#') Back to Dashboard &rarr;
    div.container
      include helpers
      block content
