- var route = locals.page.filename.split('/')
- var cur_dir = route.slice(0,2).join('/')
- var cur_app = cur_dir.split('/')[1]

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')


    - var content = ""
    if cur_dir.search("articles") > -1
      //- Strip html, get first ~three sentences
      - content = page.html.replace(/<(?:.|\n)*?>/gm, '').match(/([^\.]+\.){0,3}/)[0]
    else if cur_dir == "index.html"
    //-  Insert hard-coded meta/description for home page here
      - content = ""
    meta(name='description', content=content)

    - var title = ""
    if page.metadata.title
      - title = page.metadata.title + " | "
    title= title + locals.title

    link(rel='shortcut icon', href='/images/dobt_logo.png')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/knowledge_base.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

    if page.metadata.include_formrenderer
      script(src='//d3q1ytufopwvkq.cloudfront.net/0.3.5/formrenderer.js')
      link(href='//d3q1ytufopwvkq.cloudfront.net/0.3.5/formrenderer.css', rel='stylesheet')

    | <!--[if lt IE 9]>
    |  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    | <![endif]-->
    | <script src="/js/modernizr.js"></script>

  body
    block nav
      include partials/navbar.jade
      div#start_of_content
      div.content
        block content

    include partials/footer.html

    != nap.js('main')

    include partials/external_scripts.html
