doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= locals.title
    link(rel='shortcut icon', href='/images/dobt_logo.png')
    link(rel='stylesheet', href='/styles/based.css')
    link(rel='stylesheet', href='/styles/knowledge_base.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/main.js')
  body
  - var route = locals.page.filename.split('/')
  - var cur_dir = route.slice(0,2).join('/')
    block nav
      .navbar
        .navbar-internal.grid
          .navbar-left.item.lap_six_columns
            a(href='/')
              img(src='/images/dobt_logo.png')
              span DOBT | Knowledge Base
          .navbar-right.item.lap_six_columns
            form(action='/search', method='get').navbar-form
              input(type='search', name='q', placeholder='Search articles')
            if cur_dir == "index.html"
              - var back_to = "Dashboard"
            else
              - var back_to = env.helpers.caps(cur_dir.split('/')[1])
            if back_to == "Dashboard"
              - var back_to_link = 'https://dashboard.dobt.co/'
            else if back_to == "Screendoor"
              - var back_to_link = 'https://screendoor.dobt.co/'
            else
              - var back_to_link = '#'
            a(href!=back_to_link)!= "Back to " + back_to + "&nbsp;&rarr;"
    div.container
      block content
