extends layout
block content
  .main
    include partials/search.jade
    +search
    .search-results
      .search-results-loading
        i.fa.fa-refresh.fa-spin
      .no-search-results(style='display: none;')
        h3 No search results.&nbsp;
        a(href='/articles/screendoor') &larr; Back to articles
      .no-query(style='display:none;')
        h3 Please enter a search term.&nbsp;
      .results-count(style='display: none;')
        h3
